services:
  ilena-portfolio:
    image: ${DOCKERHUB_USERNAME}/ilena-portfolio:latest
    container_name: ilena-portfolio
    restart: unless-stopped
    ports:
      - "8081:80"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=300  # Check every 5 minutes
      - WATCHTOWER_LABEL_ENABLE=true  # Only update containers with the label
    command: --interval 300
